#环境
APP_ENV=dev

#应用名称
APP_NAME=

#Mysql配置
DB_HOST=localhost
DB_USERNAME=root
DB_PASSWORD=test123456
DB_DATABASE=

#Redis缓存
CACHE_REDIS_HOST=localhost
CACHE_REDIS_PORT=6379
CACHE_REDIS_INDEX=2

#Redis数据库
STORAGE_REDIS_HOST=localhost
STORAGE_REDIS_PORT=6379
STORAGE_REDIS_INDEX=15

#log路径
LOG_PATH=/usr/local/var/log/phalcon

